/* custom dialog menu */

.modal__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  .modal__window{
    max-width: 300px;
    background: white;
    border: 1px solid white;
    font-size: 16px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);;

  }

  .modal__titlebar {
    height: 40px;
    background: darkred;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal__title{
    margin-left: 15px;
    font-weight: bold;
    color: #eeeeee;
  }

  .modal__close {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent;
    color: #eeeeee;
    cursor: pointer;
  }
  .modal__close:hover{
    transform: scale(1.2);
    color: grey;
  }
  .modal__close:active {
    transform: scale(0.9);
  }
  .modal__content{
    padding: 15px;
    font-size: 0.9em;

  }