.center {
    display: flex;
    justify-content: center;
}
body {
    width: 375px;
    font-family: sans-serif;
}
button {
    height: 30px;
    width: 25%;
    padding: 0;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: .85em;
  }

  #go-back {
    display: none;
    background-color: brown;
    cursor: pointer;
  }

  #delete-group {
    background-color: brown;
    cursor: pointer;
  }

  #edit-add-group {
      background-color: blue;
      cursor: pointer;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  #set-rule {
      background-color: blue;
      color: white;
      font-size: 1em;
  }
  #rule-input {
      width: 50%;
  }
  .rule-buttons {
    margin: 1.5em;
  }
  .rule-headings {
  }
  .rule-headings h3{
      display: inline-block;
      font-size: .85em;
  }
  .rule-headings :nth-child(1) {
    margin-left: 10px;
    margin-right: 45px;
  }
  .rule-headings :nth-child(2) {
    margin-right: 80px;
  }

  .rule-headings :nth-child(3) {
    margin-right: 40px;
  }



  .container {
    display: flex;
    position: relative;
    padding-left: 50px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom  */
  .checkmark {
    position: absolute;
    top: 25%;
    left: 10px;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background-color: rgb(228, 226, 226);
    border: 2px solid black;
}
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(214, 253, 250);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 .rule-headings{
     /* margin-bottom: 1.3em; */
     font-size: 1.3em
 }
 .rule-content {
  height: 2em;
  margin: 0 5px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(231, 229, 229);
  border-radius: 5px;
}
.color-content {
  margin-left: 10px;
  width: 35px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
  #color-check-button {
      left: 40%;
  }

  #fav-color {
    border-style: none;
    /* border: none; */
    width: 10%;
    padding: 0px;
    background-color: none;
    background-color: white;
}

.flex-center {
  font-size: 1em;
  height: 70%;
  text-align: center;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  justify-content: center;
  border: none;
}

.flex-center:disabled {
  color: black;
  background-color: white;
}

#go-back:hover {
  background-color: rgb(245, 20, 72);
  color: black;
}
#delete-group:hover {
  background-color: rgb(245, 20, 72);
  color: black;
}

#edit-add-group:hover {
    background-color:  rgb(174, 216, 235);
    color: black;
}

.name {
  font-size: 1em;
    height: 70%;
    text-align: center;
    width: 100%;
    /* padding: 2px; */
    border-radius: 5px;
    justify-content: center;
    border: none;
}

.name:disabled {
  color: black;
  background-color: white;
}

.box-style {
  box-shadow: 1px 2px 2px grey;
  border: 2px solid black;
}
.box {
  display: inline-block;
  background-color: grey;
  width: 25px;
  height: 20px;
  position: relative;
  padding: 0px;
}

.box  > div {
  min-height: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
}
.active-box{
  cursor: pointer;
}
.active-box > div {
  border: 1px solid grey;
  min-height: 20px;
  min-width: 20px;
  opacity: 1;
  z-index: 3;
}
.blue-box {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color:#8ab4f7;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.yellow-box {
  position: absolute;
  top: 200%;
  left: 0px;
  background-color: #fed663;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.purple-box {
  position: absolute;
  top: 300%;
  left: 0px;
  background-color: #c589f9;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.green-box {
  position: absolute;
  top: 100%;
  left: 23px;
  background-color: #81c895;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.red-box {
  position: absolute;
  top: 200%;
  left: 23px;
  background-color: #f18b82;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.pink-box {
  position: absolute;
  top: 300%;
  left: 23px;
  background-color: #ff8bcb;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.cyan-box {
  position: absolute;
  top: 400%;
  left: 0px;
  background-color: #78d9ec;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.orange-box {
  position: absolute;
  top: 400%;
  left: 23px;
  background-color: #fbac70;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.box div:hover {
  border-radius: 10px;
}

.dropdown {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 20px;
  background-color: black;
  padding: 0px;
}
.dropdown svg {
  width: 60%;
}
.dropdown svg:hover {
  transform: scale(1.2);
  fill:lightblue;
}


