.center {
    display: flex;
    justify-content: center;
}
.settings-page-icon {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 12px;
  display: flex; /* Added for centering the SVG */
  align-items: center; /* Vertically center */
  justify-content: center; /* Horizontally center */
}

.settings-page-icon svg {
  cursor: pointer;
  width: 30px; /* SVG fills the div */
  height: 30px; /* SVG fills the div */
 /* If you want to set the color of the SVG */
  margin-left: auto;
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}
/* Hover effect - rotate right */
.settings-page-icon #settings-icon:hover {
  transition: transform 2s linear; /* Transition for rotating */
  transform: rotate(360deg); /* Rotate to the right on hover */
}


.center {
  /* Add margin-top to push it down a bit */
  margin-top: 8px; /* Adjust this value based on your layout needs */
  /* Rest of your .center styles */
}

body {
    width: 375px;
    font-family: sans-serif;
}
button {
    height: 30px;
    width: 25%;
    padding: 0;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    font-size: .85em;
  }

  /* Style for #go-back button */
#go-back {
  background-color: #8B4513; /* A shade of brown */
  color: white; /* White text */
  cursor: pointer;
 /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  /* Add other styles as needed */
  display: none; /* Ensure it's displayed */
}

/* Hover effect for #go-back */
#go-back:hover {
  background-color: #CD5C5C; /* A lighter, more vibrant shade of brown */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Larger shadow for depth */
}

/* Active state for #go-back */
#go-back:active {
  transform: scale(0.98); /* Slightly shrink on click */
  background-color: #A52A2A; /* An even darker shade for active state */
}


  /* Style for #delete-group button */
#delete-group {
  background-color: #A52A2A; /* A shade of brown */
  color: white; /* White text */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
}

/* Hover effect for #delete-group */
#delete-group:hover {
  background-color: #CD5C5C; /* A lighter, more vibrant shade of brown */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Larger shadow for depth */
}

/* Active state for #delete-group */
#delete-group:active {
  transform: scale(0.98); /* Slightly shrink on click */
  background-color: #8B4513; /* An even darker shade for active state */
}

/* Style for #add-group button */
#add-group {
  background-color: #4CAF50; /* A vibrant shade of green */
  color: white; /* White text */
  cursor: pointer;
 /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  /* Add other styles as needed */
}

/* Hover effect for #add-group */
#add-group:hover {
  background-color: #66BB6A; /* A lighter shade of green for hover */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Larger shadow for depth */
}

/* Active state for #add-group */
#add-group:active {
  transform: scale(0.98); /* Slightly shrink on click */
  background-color: #388E3C; /* A darker shade of green for active state */
}


  /* Style for #edit-add-group button */
#edit-add-group {
  background-color: #2196F3; /* Bright shade of blue */
  color: white; /* White text */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  /* Add other styles as needed */
}

/* Hover effect for #edit-add-group */
#edit-add-group:hover {
  background-color: #42A5F5; /* Lighter shade of blue for hover */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Larger shadow for depth */
}

/* Active state for #edit-add-group */
#edit-add-group:active {
  transform: scale(0.98); /* Slightly shrink on click */
  background-color: #1E88E5; /* Darker shade of blue for active state */
}

  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  #set-rule {
      background-color: blue;
      color: white;
      font-size: 1em;
  }
  #rule-input {
      width: 50%;
  }
  .rule-buttons {
    margin: 1.5em 1.5em 30px 1.5em;
  }

  .rule-headings h3{
      display: inline-block;
      font-size: .85em;
  }
  #selector-heading {
    margin-right: 45px;
  }
  #title-heading {
    margin-right: 35px;
  }
  #domain-heading{
    margin-left: 30px;
    margin-right: 5px;
  }
  #color-heading{
    margin-left: 20px;
  }

  .container {
    display: flex;
    position: relative;
    padding-left: 50px;
    padding-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom  */
  .checkmark {
    position: absolute;
    top: 25%;
    left: 10px;
    border-radius: 5px;
    height: 15px;
    width: 15px;
    background-color: rgb(228, 226, 226);
    border: 2px solid black;
}
.rules-container {
  height: 180px;
  overflow-x: hidden;
  overflow-y: auto;

}
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: rgb(214, 253, 250);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 .rule-headings{
     /* margin-bottom: 1.3em; */
     font-size: 1.3em
 }
 .rule-content {
  height: 2em;
  margin: 0 5px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(231, 229, 229);
  border-radius: 5px;
}
.color-content {
  margin-left: 10px;
  width: 35px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
  #color-check-button {
      left: 40%;
  }

  #fav-color {
    border-style: none;
    /* border: none; */
    width: 10%;
    padding: 0px;
    background-color: none;
    background-color: white;
}

.flex-center {
  font-size: 1em;
  height: 70%;
  text-align: center;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  justify-content: center;
  border: none;
}

.flex-center:disabled {
  color: black;
  background-color: white;
}



.name {
  font-size: 1em;
    height: 70%;
    text-align: center;
    width: 100%;
    /* padding: 2px; */
    border-radius: 5px;
    justify-content: center;
    border: none;
}

.name:disabled {
  color: black;
  background-color: white;
}

.box-style {
  box-shadow: 1px 2px 2px grey;
  border: 2px solid black;
}
.box {
  display: inline-block;
  background-color: grey;
  width: 25px;
  height: 20px;
  position: relative;
  padding: 0px;
}

.box  > div {
  min-height: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
}
.active-box{
  cursor: pointer;
}
.active-box > div {
  border: 1px solid grey;
  min-height: 20px;
  min-width: 20px;
  opacity: 1;
  z-index: 3;
}
.blue-box {
  position: absolute;
  top: 100%;
  left: 0px;
  background-color:#8ab4f7;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.yellow-box {
  position: absolute;
  top: 200%;
  left: 0px;
  background-color: #fed663;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.purple-box {
  position: absolute;
  top: 300%;
  left: 0px;
  background-color: #c589f9;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.green-box {
  position: absolute;
  top: 100%;
  left: 23px;
  background-color: #81c895;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.red-box {
  position: absolute;
  top: 200%;
  left: 23px;
  background-color: #f18b82;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.pink-box {
  position: absolute;
  top: 300%;
  left: 23px;
  background-color: #ff8bcb;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.cyan-box {
  position: absolute;
  top: 400%;
  left: 0px;
  background-color: #78d9ec;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.orange-box {
  position: absolute;
  top: 400%;
  left: 23px;
  background-color: #fbac70;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.box div:hover {
  border-radius: 10px;
}

.dropdown {
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 20px;
  background-color: black;
  padding: 0px;
}
.dropdown svg {
  width: 60%;
}
.dropdown svg:hover {
  transform: scale(1.2);
  fill:lightblue;
}

.zoom-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom {
    cursor: pointer;
    color: black;
    width: 25px;
    height: 25px;
    background-color: #e5dfdf;
    font-size: 1.4em;
    border: 1px solid black;
    border-radius: 50%;
    transition: 200ms;
}
.zoom:hover {
    background-color: #2196F3;
}