.center {
    display: flex;
    justify-content: center;
}

body {
    width: 750px;
    height: 1750px;
}


button {
    height: 30px;
    width: 25%;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    background-color: brown;
    color: white;
    font-size: 1.2em;
    margin-top: 7em;
  }

  #delete-group {
    background-color: brown;
  }

  #edit-add-group {
      background-color: blue;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  #set-rule {
      background-color: blue;
      color: white;
      font-size: 1.2em;
  }
  #rule-input {
      width: 50%;
  }

  .rule-headings h3{
      width: 33.33%;
      text-align:  center;
  }

  .container {
    align-items: center;
    height: 100%;
    display: flex;
    position: relative;
    padding-left: 50px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
  /*

.container {
    align-items: center;
    height: 50px;
    display: flex;
    position: relative;
    padding-left: 50px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}
*/
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 25%;
    left: 10px;
    /* left: 3%; */
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 2px solid black;
}
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 .rule-headings{
     margin-bottom: 1.3em;
     font-size: 1.3em
 }
 .rule-content {
  /* overflow: hidden; */
  height: 5em;
  /* height: 13%; */
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}



  #color-check-button {
      left: 40%;
  }

  #fav-color {
    border-style: none;
    /* border: none; */
    width: 10%;
    padding: 0px;
    background-color: none;
    background-color: white;
}

.flex-center {
    height: 50%;
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    border: none;
}

.flex-center:disabled {
  color: black;
  background-color: white;
}

.name-content {
    justify-content: start;
}

#delete-group:hover {
    background-color: rgb(245, 20, 72);
    color: black;
}

#edit-add-group:hover {
    background-color:  rgb(174, 216, 235);
    color: black;
}

.name {
  font-size: 22px;
  border: none;
  width: 95%;
  height: 50%;
  margin-right: 3%;
}

.name:disabled {
  color: black;
  background-color: white;
}

.box-style {
  box-shadow: 1px 2px 2px grey;
  border: 2px solid black;
}
.box {
  
  /* margin-left: 8em; */
  /* margin-tOP: 3em; */
  display: inline-block;
  background-color: grey;
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0px;
}

.box  > div {
  min-height: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  
}
.active-box > div {
  border: 1px solid grey;
  min-height: 40px;
  min-width: 40px;
  opacity: 1;
  z-index: 3;
}

.blue-box {
  position: absolute;
  top: 100%;
  left: 0px;
 
 
  background-color:blue;
  width: 100%;
  height: 100%;
  
  
  padding: 0px;
}

.yellow-box {
  position: absolute;
  top: 200%;
  left: 0px;
 
  

  background-color:yellow;
  width: 100%;
  height: 100%;
  
  padding: 0px;
}

.purple-box {
    position: absolute;
  top: 300%;
  left: 0px;
 
  
 
  background-color: purple;
  width: 100%;
  height: 100%;
  
  
  padding: 0px;
}

.dropdown {
  display: none;
  position: relative;
  width: 16px;
  height: 40px;
  background-color: black;
  /*display: inline-block; */
  /* margin-left: -4px; */
  padding: 0px;
}

.fa-angle-double-down {
  color: white;
  position: absolute;
  font-size: 1.4em;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-content: center;
}

.fa-angle-double-down:hover {
  font-size: 1.5em;
  color:lightblue;
}

.fa-center {
  line-height: 40px!important;
  vertical-align: middle;
}

